<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Teach Symfony</title>
                    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>

        .card-columns {
        @include media-breakpoint-only(lg) {
            column-count: 5;
        }
        @include media-breakpoint-only(xl) {
            column-count: 5;
        }
        }

    </style>

</head>



<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/teach-symfony/public/">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
{#                <li class="nav-item active">#}
{#                    <a class="nav-link" href="#">Home#}
{#                        <span class="sr-only">(current)</span>#}
{#                    </a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="/teach-symfony/public/mynotes">My notes</a>
                </li>
                <li class="nav-item" style="background-color: limegreen; border-radius: 5px; color: white">
                    <a class="nav-link" href="/teach-symfony/public/new">Add note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">#</a>
                </li>
                <li class="nav-item">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                            {{ app.user.username }} {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

                <!-- Page Content -->
<div class="container">


    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% block body %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    {% endblock %}
{#    {% block test_title %}#}
{#    {% endblock %}#}
{#    {% block not_register %}#}
{#    {% endblock %}#}
{#    {% block notregister %}#}
{#    {% endblock %}#}
{#    {% block new %}#}
{#    {% endblock %}#}
{#    {% block notes %}#}
{#    {% endblock %}#}

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</body>

</html>
